.btn {
    width: 75%;
}

.d-none {
    display: block!important;
}

.ii-wh {
    width: 80%;
    height: 40px;
}


.img-w {
    height: 450px;
    width: 100%;
}

.img-w1 {
    width: 100%;
    height: 550px;
}

.transform-trans {
    transform: translateX(-90%);
}



.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.ms {
    margin-left: 17%;
}

.p-lr {
    padding: 5px 30px;
    background-color: #ffff;
    color: black;
    border-radius: 19px;
}

.wh-50 {
    width: 50px;
    height: 50px;
} 

.h-full {
    height: 800px!important;
}

.h-fix {
    height: 500px;
}

.wc {
    width: 60%;
    transform: translateX(25%);
}

.icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-i {
    font-size: 30px;
    transform: translateY(10px);
}

.p-transform {
    transform: translateX(-5%);
}

.i-fs {
    font-size: 12px;
}

.p-height {
    height: 300px;
}

.position-absolute-top {
    position: absolute!important;
    bottom: 10px;
    color: white;
}

.position-absolute-profile-div {
    position: absolute!important;
    top: 25%;
    left: 50px;
}

.position-absolute-profilepic {
    position: absolute;
    bottom: 5%;
    left: 25%;
}

.bg-transparent {
    background-color: #ffff;
    color: black;
    border-radius: 10px;

}

.form-w {
    width: 75%;
    transform: translateX(5%);
}

@media only screen and (max-width:600px)  {

    .d-none {
        display: none;
    }

    .w-50 {
        width: 100%;
    }


}